name: Integration Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  integration-test:
    runs-on: ubuntu-latest
    name: Run Integration Tests
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Make test script executable
        run: chmod +x ./tests/test-action.sh

      - name: Run test script
        run: ./tests/test-action.sh

      - name: Test action in workflow
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          source: '.github/template.yml'
          branch: test-branch
          test-mode: "true"